 .root {
     -fx-background-color: #d7d7d7;
 }

 .button {
   -fx-background-color:
           linear-gradient(#f2f2f2, #d6d6d6),
           linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
           linear-gradient(#dddddd 0%, #f6f6f6 50%);
       -fx-background-radius: 8,7,6;
       -fx-background-insets: 0,1,2;
       -fx-text-fill: black;
       -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
       -fx-alignment: center;
 }

 .button:hover {
     -fx-effect: innershadow(gaussian, d7d7d7, 5, 0, 0, 0);
 }

 .button:pressed {
     -fx-scale-y: 0.9;
     -fx-scale-x: 0.9;
     -fx-effect: innershadow(gaussian, d7d7d7, 15, 0, 0, 0);
 }

 .text-field {
     -fx-effect: innershadow(one-pass-box, gray, 5, 0.3, 1, 1);
 }

 .text-area .content {
  }