.root {

}

@font-face {
    font-family: 'Courier';
    src: url('/font/Courier Prime.ttf');
}

@font-face {
    font-family: 'Garamond';
    src: url('/font/Garamond Regular.ttf');
}

.text-input {
    -fx-font: 14px "Courier Prime";
    -fx-font-weight: bold;
}

.label {
    -fx-font: 14px "Garamond";
}

.choice-box .label {
    -fx-font: 14px "Courier Prime";
    -fx-font-weight: bold;
}

#pustLabel {
    -fx-font: 18px "Garamond";
    -fx-font-weight: bold;
}

#boldLabel {
    -fx-font: 14px "Garamond";
    -fx-font-weight: bold;
}

.text-field {
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
    -fx-background-color: #dcf1f2;
    -fx-shape: "M200,0 H0 V30 H200 Z";
    -fx-effect: innershadow(one-pass-box, gray, 0, 0, 0, 0);
}

.text-area .content{
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
    -fx-background-color: #dcf1f2;
    -fx-shape: "M200,0 H0 V30 H200 Z";
    -fx-effect: innershadow(one-pass-box, gray, 0, 0, 0, 0);
}

.choice-box {
-fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
    -fx-background-color: #dcf1f2;
    -fx-shape: "M200,0 H0 V30 H200 Z";
    -fx-effect: innershadow(one-pass-box, gray, 0, 0, 0, 0);
}